<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MTG cards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> -->
    <style>
        abbr[title] {
            border-bottom: none !important;
            cursor: inherit !important;
            text-decoration: none !important;
        }
    </style>
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <p class="title">
                MTG card price checker
            </p>
            <p class="subtitle">
                Because we love magic, but are cheap.
            </p>
        </div>
    </section>
    <section class="section">
        {% block form %}{% endblock %}
    </section>
    <section class="section">
        {% if missing_cards | length > 0 %}
        <article class="message is-warning">
            <div class="message-header">
                <p>The following cards were not found (or ignored): {{ missing_cards }}</p>
            </div>
            <div class="message-body">
                Make sure you are using the exact name for the card.
                <ul>
                    <li>If it is a double faced card, use the <strong>//</strong> notation (ex: <em>Cosima, God of the
                            Voyage // The Omenkeel</em>)</li>
                    <li>If it is a special card, include the full name as it appears in the shop (ex: if you enter
                        <em>Derevi, Empyrial Tactician</em>, the system won't find <em>Derevi, Empyrial Tactician - Foil
                            Etched</em>)
                    </li>
                </ul>
            </div>
        </article>
        {% endif %}
        {% if ignored_cards | length > 0 %}
        <article class="message is-warning">
            <div class="message-header">
                <p>The following results were ignored (basic lands are always ignored)</p>
            </div>
            <div class="message-body">
                {{ ignored_cards }}
            </div>
        </article>
        {% endif %}
        {% if cardList %}
        <table class="table">
            <thead>
                <tr>
                    <th>Card</th>
                    {% for store in stores %}
                    <th><abbr title="{{ store['name'] }}">{{ store['abbr'] }}</abbr></th>
                    {% endfor %}
                    <th>Min Price</th>
                </tr>
            </thead>
            <tbody>
                {{ stores.append({'name': 'Min', 'abbr': 'min'}) or "" }}
                {% for card in cardList %}
                <tr>
                    <th>{{ card }}</th>
                    {% for store in stores %}
                    {% if store['abbr'] in cardList[card] %}
                    <td {% if 'class' in cardList[card][store['abbr']]
                        %}class="{{ cardList[card][store['abbr']]['class'] }}" {% endif %}><abbr
                            title="{% if store['abbr'] == 'min' %}{{ cardList[card][store['abbr']]['store'] }}: {% endif %}{{ cardList[card][store['abbr']]['condition'] }} / {{ cardList[card][store['abbr']]['language'] }} ({{ cardList[card][store['abbr']]['set'] }}) - {{ cardList[card][store['abbr']]['variant_name'] }}">{{
                            "$%.2f"|format(cardList[card][store['abbr']]['price']) }}</abbr></td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th><abbr title="Only count the cards for which the store is the cheapest.">Totals</abbr></th>
                    {% for store in stores %}
                    <th>{{ "$%.2f"|format(totals[store['abbr']]) }}</th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </section>
    {% endif %}
</body>

</html>